
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/angular.js"></script>
    <script src="~/app/labelEditor.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
